<select [(ngModel)]="selectedAudioInputId" (change)="updateAudioInput()">
  <option
    *ngFor="let device of deviceManager.getAudioInputDevices()"
    [value]="device.deviceId"
  >
    {{ device.deviceName }}
  </option>
</select>

<select [(ngModel)]="selectedAudioOutputId" (change)="updateAudioOutput()">
  <option
    *ngFor="let device of deviceManager.getAudioOutputDevices()"
    [value]="device.deviceId"
  >
    {{ device.deviceName }}
  </option>
</select>

<select [(ngModel)]="selectedVideoDeviceId" (change)="updateVideoDevice()">
  <option
    *ngFor="let device of deviceManager.getVideoDevices()"
    [value]="device.deviceId"
  >
    {{ device.deviceName }}
  </option>
</select>
