<select [(ngModel)]="selectedAudioInputId" (change)="updateAudioInput()">
  <option
    *ngFor="let device of getAudioInputDevices()"
    [value]="device.deviceId"
  >
    {{ device.deviceName }}
  </option>
</select>

<select [(ngModel)]="selectedAudioOutputId" (change)="updateAudioOutput()">
  <option
    *ngFor="let device of getAudioOutputDevices()"
    [value]="device.deviceId"
  >
    {{ device.deviceName }}
  </option>
</select>

<select [(ngModel)]="selectedVideoDeviceId" (change)="updateVideoDevice()">
  <option *ngFor="let device of getVideoDevices()" [value]="device.deviceId">
    {{ device.deviceName }}
  </option>
</select>
